<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Document</title>
</head>

<body>
   <div
      class="max-w-lg w-full min-h-dvh flex flex-col items-center gap-16 pt-10 px-8 bg-[#F1F1F1] m-[auto] overflow-hidden ">
      <div class="flex items-center w-full gap-6 ">
         <span>
            <?xml version="1.0" ?>
            <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg
               class="max-h-[30px] max-w-[30px] h-[8vw] w-[8vw] " height="30px" fill="gray" id="Layer_1"
               style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="30px"
               xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <path
                  d="M189.3,128.4L89,233.4c-6,5.8-9,13.7-9,22.4c0,8.7,3,16.5,9,22.4l100.3,105.4c11.9,12.5,31.3,12.5,43.2,0  c11.9-12.5,11.9-32.7,0-45.2L184.4,288h217c16.9,0,30.6-14.3,30.6-32c0-17.7-13.7-32-30.6-32h-217l48.2-50.4  c11.9-12.5,11.9-32.7,0-45.2C220.6,115.9,201.3,115.9,189.3,128.4z" />
            </svg>
         </span>
         <p class="uppercase font-semibold text-sm opacity-80 ">supplier profile</p>
      </div>
      <div class="w-full h-fit flex flex-col gap-12">
         <div class="flex justify-center items-center">
            <div>
               <div class="w-36 h-36 bg-white rounded-full overflow-hidden">
                  <img class="w-full h-full"
                     src="https://images.rawpixel.com/image_600/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3BmLXMxMDgtcG0tNDExMy1tb2NrdXAuanBn.jpg"
                     alt="">
               </div>
            </div>
         </div>
         <div class="w-full bg-white rounded-xl">
            <form class="w-full flex flex-col p-6 gap-2 " action="/">
               <div class="flex flex-col">
                  <lebel for="s_p_name" class="uppercase text-xs font-semibold opacity-60">name :</lebel>
                  <input class="placeholder:text-zinc-900 outline-none bg-white uppercase" type="text" name="s_p_name" id="s_p_name" disabled placeholder="cdfs">
               </div>
               <div class="flex flex-col">
                  <lebel for="s_p_about" class="uppercase text-xs font-semibold opacity-60">about :</lebel>
                  <span class="outline-none " role="textbox" contenteditable="true">retail galamal store for everyone uses daily needed products</span>
               </div>
               <div class="flex flex-col">
                  <lebel for="s_p_number" class="uppercase text-xs font-semibold opacity-60">phone number :</lebel>
                  <input class="placeholder:text-zinc-900 outline-none bg-white" type="number" name="s_p_number" id="s_p_number" disabled placeholder="9959765456">
               </div>
               <div class="flex flex-col">
                  <lebel for="s_p_email" class="uppercase text-xs font-semibold opacity-60">email id</lebel>
                  <input class="placeholder:text-zinc-900 outline-none bg-white" type="email" name="s_p_email" id="s_p_email" disabled placeholder="debnathtaposh58@gmail.com">
               </div>
               <div class="flex gap-6 items-center mt-6">
                  <button class="uppercase text-white text-sm px-6 py-2 rounded-xl bg-zinc-900">edit</button>
                  <button class="uppercase text-white text-sm px-6 py-2 rounded-xl bg-zinc-900">delete</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>